.error {
    color: red !important;
    background: lightgrey !important;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  

  .added {
    color: green !important;
    background: lightgreen !important;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

body {
  background-color: lightblue;
}
